
 table, tr {
  border: 1px solid black;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  }
th, td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  width: 200px;
 }
th {
  vertical-align: bottom;
 }



       